<div class="main-header">
  <h1>WELCOME TO YOUR APPLICATION!</h1>
  <p>Update your seed user credentials, navigate to your applicaiton dir from you terminal and paste the comman below to run a new migration:</p>
  <p id="main-page-rake-cmd">$ rake db:drop && rake db:create && rake db:migrate</p>
  <p>Once you have done that, log in with your new credentials and take a look around!</p>
</div>
<div class="devise-login-page">
  <h2 class="devise-h2">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
